/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Syne:wght@400;500;600;700;800&display=swap');

/* Global Styles */
*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
margin: 0;
font-family: 'Syne', sans-serif;
background-image: url("./assets/images/18.jpg");
background-size: cover;
background-position: center center;
background-attachment: fixed;
color: #E3E3E3;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

ul {
list-style-type: none;
color: #E3E3E3;
}

li a {
text-decoration: none;
color: #E3E3E3;
}

h1,
h2,
h3,
h4 {
line-height: 1.2;
}

h1 {
font-size: 3rem;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1.25rem;
}

h4 {
font-size: 0.875rem;
}

p {
margin-bottom: 1.25rem;
}

/* Navbar styles */

#logo {
  flex: 2 1 40rem;
}

#navbar {
  display: flex;
  padding: 0.2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  }
  
  .nav-item {
  font-size: 2rem;
  padding: 1rem;
  }

/* home page styles */

#home {
  margin: 2rem;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  color: #E3E3E3;
}

.home-page-number {
  font-size: 18rem;
  position: absolute;
  margin-left: 46rem;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 1px #E3E3E3;
  color: transparent;
}

.text-one {
  font-size: 2rem;
  color: #E3E3E3;
}

.text-two {
  color: #E3E3E3;
  font-size: 5rem;
  font-weight: 600;
}

.text-three {
  font-size: 2.5rem;
  margin: 5px 0;
  color: #E3E3E3;
}

.text-four {
  font-size: 1.8rem;
  margin: 5px 0;
  color: #E3E3E3;
}

.button {
  margin: 14px 0;
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 25px;
  font-weight: 400;
  background: #2626F5;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.button:hover {
  border: 2px solid #E3E3E3;
}

.button a {
  text-decoration: none;
  color: #E3E3E3;
}

/* about me styles */

#about {
  display: grid;
  color: #E3E3E3;
}

/* contact form styles */

form {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
  display: grid;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}
