/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Global Styles */
*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
margin: 0;
font-family: 'Familjen Grotesk', sans-serif;
background: #000;
color: #E3E3E3;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

ul {
list-style-type: none;
color: #E3E3E3;
}

li a {
text-decoration: none;
color: #E3E3E3;
}

h1,
h2,
h3,
h4 {
line-height: 1.2;
}

h1 {
font-size: 3rem;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 1.25rem;
}

h4 {
font-size: 0.875rem;
}

p {
margin-bottom: 1.25rem;
}

/* home page styles*/

#home {
  margin: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #E3E3E3;
}

.vertical-text-name {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 7em;
  position: sticky;
  font-family: 'Familjen Grotesk', sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 1px #E3E3E3;
  color: transparent;
  margin-top: 6rem;
}

.text-one {
  font-size: 2rem;
  color: #E3E3E3;
}

.text-two {
  color: #E3E3E3;
  font-size: 5rem;
  font-weight: 600;
}

.text-three {
  font-size: 2.5rem;
  margin: 5px 0;
  color: #E3E3E3;
}

.text-four {
  font-size: 1.8rem;
  margin: 5px 0;
  color: #E3E3E3;
}

.button {
  margin: 14px 0;
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 25px;
  font-weight: 400;
  background: #2626F5;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}

.button:hover {
  border: 2px solid #E3E3E3;
}

.button a {
  text-decoration: none;
  color: #E3E3E3;
}

/* about me styles */

#about {

  display: grid;
  color: #E3E3E3;
}

/* media queries */
@media screen and (min-width: 800px) {
body {
font-size: 1rem;
}

h1 {
font-size: 4rem;
}

h2 {
font-size: 2.5rem;
}

h3 {
font-size: 1.75rem;
}

h4 {
font-size: 1rem;
}

h1,
h2,
h3,
h4 {
line-height: 1;
}
}

/* Hero section styles */
.section {
width: 90vw;
margin: 0 auto;
}

@media screen and (min-width: 992px) {
.section {
width: 95vw;
}
}

/* Navbar styles */
#navbar {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-item {
font-size: 2rem;
padding: 0.5rem 2rem;
display: inline;
}


@media screen and (max-width: 600px) {
  .nav-item {
    font-size: 2rem;
    }
  }

.nav-toggle {
font-size: 1.5rem;
background: transparent;
border-color: transparent;
cursor: pointer;
color: #E3E3E3;
z-index: 1;
margin-right: 1rem;
}

/* @media only screen and (max-width: 800px) {
  #navbar {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
} */

/* .nav-toggle:hover {
color: #E3E3E3;
} */

/* .nav-link:hover {
text-decoration: underline;
} */

.links-container {
  height: 0;
  overflow: hidden;
}

.show-container {
  display: grid;
  height: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(100%);
  transition-timing-function: ease-in;
  background: linear-gradient(240deg, #000000, #2626F5);
  width: 50vw;
}

@media screen and (max-width: 800px) {
.menu-links {
  font-size: 10rem;
  }
}

@media screen and (min-width: 800px) {
.nav-toggle {
  display: none;
}

.links-container {
  height: auto !important;
  overflow: visible !important;
  }
}

/* End of CSS */